*{
    margin:0;
    padding:0;
    font-family: 'Spectral', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: aliceblue;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url("images/background_top.png");
    background-size: cover;
    background-position: bottom;
}
.container{
    padding: 45px 3%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 120px;
}
nav ul li{
    display: inline-block;
    list-style:none;
    margin: 10px 20px;
}
nav ul li a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    position: relative
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: aliceblue;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top:20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: bisque;
}
/* about page */
#about{
    padding:80px 100px;
    color: aliceblue;
    font-size: 16px;
    background:black;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 15px;
    display: block;
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 58px;
    font-weight: 600;
    color: bisque;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: bisque;
}
.tab-links{
    margin-right: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: bisque;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: bisque;
    font-size: 24px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block; /* so it would be visible*/
}
/* Research */
#Research{
    padding: 30px 0;
}
.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}
.project-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
}
.project-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.project-list div h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}
.project-list div p{
    font-size: 15px;
}
.project-list div a{
    text-decoration: none;
    color: aliceblue;
    font-size: 13px;
    margin-top: 20px;
    display: inline-block;
}
.project-list div:hover{
    background: burlywood;
    transform:translateY(-10px);
}
/*My Art Portfolio*/
#art{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top:50px;
}
.work{
    border-radius:10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.2s;
}
.layer{
    width: 100%;
    height: 0;
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.17s;
}
.layer h3{
    font-weight: 500;
    margin-bottom:20px;
    font-size: 24px;
}
.layer p{
    font-size: 15px;
}
.layer a{
    margin-top: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: aliceblue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.07);
    filter: brightness(30%);
}
.work:hover .layer{
    height: 100%
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid burlywood;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: background 0.5s;
}
.btn:hover{
background: burlywood;
}
/*Contacts*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 20px;
}
.contact-left p i{
   color: bisque;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: aliceblue;
    display: inline-block;
    transition: transform 0.2s;
}
.social-icons a:hover{
    color: bisque;
    transform:translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: bisque;
    color:black;
    transition: background 0.3s;
}
.btn.btn2:hover{
    background: burlywood;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: aliceblue;
    font-size: 23px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    font-size: 14px;
}
.copyright i{
    color: bisque;
}
/*CSS for smartphones*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width : 600px){
    #header{
        background-image: url("images/background2.png");
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: burlywood;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.3s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left:25px;
        cursor:pointer;
    }
    nav ul li a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    position: relative
}
    #about{
    padding:20px 30px;
    color: aliceblue;
    font-size: 22px;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
}
    .sub-title{
        font-size: 35px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1 img{
        width: 300px;
        border-radius: 15px;}
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 15px;
        margin-right: 20px;
    }
    .tab-contents ul li span {
        color: bisque;
        font-size: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .contact-left p{
        margin-top: 30px;
        font-size: 20px;
    }
    .copyright{
        font-size: 10px;
    }
}
#msg{
    color: bisque;
    margin-top: -40px;
    display: block;
}